body{
    background-image: url(Orthesis.png);
    background-repeat: no-repeat;
    background-size: 210ch 25.5cm;
}

table{
    background: rgba(124, 139, 167, 0.6);
}

td{
    border: 3px solid rgba(10, 101, 187, 0.685);
    padding: 8px 35px;
}

input[type="text"], input[type="number"]{
    width: 95%;
}

button, input[type="submit"]{
    background: rgba(114, 219, 219, 0.804);
    padding: 9px 17px;
    margin: 15px 0 10px;
    display: inline-block;
    border-color: rgba(10, 101, 187, 0.696);
    border-radius: 4.5px;
    font-size: 1rem;
    cursor: pointer;
    outline: none;
}

button:hover, input[type="submit"]:hover{
    background: rgba(10, 101, 187, 0.685);
}